<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identifiant</title>
    <link rel="icon" href="{{ asset('/img/sms.png') }}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <style>
        body{background: #ECF0F5}
        .card{border: none;height: 320px}
        .forms-inputs{position: relative}
        .forms-inputs span{position: absolute;top:-18px;left: 10px;background-color: #fff;padding: 5px 10px;font-size: 15px}
        .forms-inputs input{height: 50px;width: 100%;border: 2px solid #eee}
        .forms-inputs input:focus{box-shadow: none;outline: none;border: 2px solid #000}
        .btn{height: 50px}
        .success-data{display: flex;flex-direction: column}
        .bxs-badge-check{font-size: 90px}
        .error-message {color: red; margin-top: 10px;}
    </style>
</head>

<body>
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1" style="height: auto;">
                <div class="text-center mb-4">
                    <img style="width: 85px;" src="{{ asset('/img/sms.png') }}" alt="Logo" class=" mb-4">

                </div>
                <div class="form-data">
                    {#                    <form action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form">#}
                    {#                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>#}

                    {#                        <div class="form-group has-feedback">#}
                    {#                            <input class="form-control"#}
                    {#                                   id="username"#}
                    {#                                   name="_username"#}
                    {#                                   placeholder="{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}"#}
                    {#                                   required="required"#}
                    {#                                   type="text"#}
                    {#                                   value="{{ last_username }}"/>#}
                    {#                            <span class="fas fa-user form-control-feedback"></span>#}
                    {#                        </div>#}

                    {#                        <div class="form-group has-feedback">#}
                    {#                            <input class="form-control"#}
                    {#                                   id="password"#}
                    {#                                   name="_password"#}
                    {#                                   placeholder="{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}"#}
                    {#                                   required="required"#}
                    {#                                   type="password"/>#}
                    {#                            <span class="fas fa-lock form-control-feedback"></span>#}
                    {#                        </div>#}

                    {#                        <div class="row">#}
                    {#                            <div class="col-xs-8">#}
                    {#                                <div class="checkbox">#}
                    {#                                    <label>#}
                    {#                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>#}
                    {#                                        {{ 'security.login.remember_me'|trans({}, 'SonataUserBundle') }}#}
                    {#                                    </label>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="col-xs-4">#}
                    {#                                fdsfsdfds#}
                    {#                                <button type="submit" name="submit" class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans({}, 'SonataUserBundle') }}</button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </form>#}
                    <form method="post" action="{{ path("sonata_user_admin_security_check") }}">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="forms-inputs mb-4 mt-4">

                            <span>Username</span>
                            <input id="username" name="_username" required="required" value="{{ last_username }}" type="text">
                            <div class="invalid-feedback">A valid email is required!</div>
                        </div>

                        <div class="forms-inputs mb-4">
                            <span>Password </span>
                            <input   id="password" name="_password" autocomplete="off" type="password">
                            <div class="invalid-feedback">Password must be 8 characters long!</div>
                        </div>

                        <div class="mb-3">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button style="background-color: #005FAE" type="submit" class="btn btn-primary w-100">Login</button>
                        </div>

                    </form>
                    {#                    <div class="reset-password-link" style="text-align: center">#}
                    {#                        <a style="color:#005FAE" href="{{ reset_route }}">Mot de passe oublié? Cliquez ici pour le réinitialiser</a>#}
                    {#                    </div>#}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS -->
</body>

</html>
