.content-header {

}
.box-footer {

}
.sidebar-menu>li.active>a {
    background: #005FAE !important;
}
.sidebar-menu>li:hover>a {
    background: #005FAE !important;
}
.wrapper {
    background-color: unset !important;

}
.nav>li>a>img {
    max-width: 32px;
}
.user-menu {
    background-color: #FFFFFF;
}
button[name="btn_update_and_list"] {
    display: none;
}
button[name="btn_create_and_list"] {
    display: none;
}
button[name="btn_create_and_create"] {
    display: none;
}
@media (max-width: 767px) {
    .skin-black .content-header {
        margin-top: 77px;

    }
}
@media (max-width: 767px) {
    .user-menu {
        background-color: #FFFFFF;
        height: 53px;
    }
}

.navbar-collapse .btn-group {
    display: none !important;
}
