{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('show', object) and admin.hasRoute('show') %}
    {% set button_content = sonata_config.getOption('list_action_button_content') %}
    <a style="border-radius: 4px; margin-right:5px;border: none;background-color: #1ABB9C"
            href="{{ admin.generateObjectUrl('show', object, actions.link_parameters|default([])) }}"
            class="btn btn-sm btn-default view_link"
            title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}"
    >
        {% if button_content == 'icon' or button_content == 'all' %}
            <i style="color: #FFFFFF" class="fas fa-eye" aria-hidden="true"></i>
        {% endif %}
        {% if button_content == 'text' or button_content == 'all' %}

        {% else %}
            <span class="sr-only">
                {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
            </span>
        {% endif %}
    </a>
{% endif %}
